::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--hover-light);
}
::-webkit-scrollbar-thumb{
    background: var(--accent-clr-1);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--accent-clr-1-hover);
}