/** |==================================|
*   | @package JameediumSitePlugin     |
*   |==================================|
*/

// import the code-pretify css
@import '../node_modules/code-prettify/styles/desert.css';

// import the packages
@import 'scss/tabs.scss';
@import 'scss/form.scss';
@import 'scss/tables.scss';
@import 'scss/buttons.scss';
@import 'scss/details.scss';
@import 'scss/checkbox.scss';
@import 'scss/scrollbar.scss';
@import 'scss/prettyprint.scss';

/*simple reset*/
:root{
    --dark-clr: #001833;
    --const-dark-clr: #001833;
    --hover-dark: #002651;
    --main-clr-light: #669edf;
    --main-clr: #005eca;
    --main-clr-hover: #004ba2;
    --light-clr: #d3d3d3;
    --white-clr: #ffffff;
    --const-white-clr: #ffffff;
    --hover-light: #dddddd;
    --accent-clr-1-light: #ffe999;
    --accent-clr-1: #ffc900;
    --accent-clr-1-hover: #997900;
    --accent-clr-2-light: #ffbac5;
    --accent-clr-2: #ff526d;
    --accent-clr-2-hover: #993141;
    --accent-clr-3-light: #abebc1;
    --accent-clr-3: #2cce65;
    --accent-clr-3-hover: #1a7c3d;
    --dark-text-clr: #001833;
    --dark1-text-clr: #212121;
    --dark2-text-clr: #323232;
    --light-text-clr: #ffffff;
}

html {
    position: relative;
    max-width: 100%;
    font-size: 20px;
}

::selection {
    color: var(--light-text-clr);
    background-color: var(--dark-text-clr);
}

a,button {
    text-decoration: none;
}

/* override the default wordpress style */
.button-primary{
    background-color: var(--main-clr) !important;
    :hover{
        background-color: var(--main-clr-hover) !important;
    }
}